In [1]:
import pandas as pd          
import numpy as np

In [2]:
from sklearn.preprocessing import StandardScaler    
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [4]:
#Converting CSV file into dataframes
card_data=pd.read_csv('creditcard.csv')

In [61]:
#dataset_information
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
 card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
#checking the number of missing values in each column
card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [12]:
authorized=card_data[card_data.Class == 0]
print(authorized)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284315 rows x 31 columns]

In [13]:
fraud=card_data[card_data.Class == 1]
print(fraud)

            Time        V1        V2        V3        V4        V5        V6  \
541        406.0 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623        472.0 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920      4462.0 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788
6108      6986.0 -4.397974  1.358367 -2.592844  2.679787 -1.128131 -1.706536
6329      7519.0  1.234235  3.019740 -4.304597  4.732795  3.624201 -1.357746
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V21       V22       V23  \
541    -2.537387  1.391657 -2.770089  ...  0.517232 -0.035049 -0.465211
623     0.325574 -0.067794 -0.270953  ...  0.661696  0.435477  1.375966
4920    0.562320 -0.399147 -0.238253  ... -0.294166 -0.932391  0.172726
6108   -3.496197 -0.248778 -0.247768  ...  0.573574  0.176968 -0.436207
6329    1.713445 -0.496358 -1.282858  ... -0.379068 -0.704181 -0.656805
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  0.778584 -0.319189  0.639419
280143 -1.413170  0.248525 -1.127396  ...  0.370612  0.028234 -0.145640
280149 -2.234739  1.210158 -0.652250  ...  0.751826  0.834108  0.190944
281144 -2.208002  1.058733 -1.632333  ...  0.583276 -0.269209 -0.456108
281674  0.223050 -0.068384  0.577829  ... -0.164350 -0.295135 -0.072173

             V24       V25       V26       V27       V28  Amount  Class
541     0.320198  0.044519  0.177840  0.261145 -0.143276    0.00      1
623    -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00      1
4920   -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93      1
6108   -0.053502  0.252405 -0.657488 -0.827136  0.849573   59.00      1
6329   -1.632653  1.488901  0.566797 -0.010016  0.146793    1.00      1
...          ...       ...       ...       ...       ...     ...    ...
279863 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00      1
280143 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76      1
280149  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89      1
281144 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00      1
281674 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53      1

[492 rows x 31 columns]

In [14]:
print(authorized.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [15]:
#Statistical measures of the data
authorized.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
#Compare the value for both transactions
card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
#Number of fraudulent Transactions --->492
authorized_sample=authorized.sample(n=492)
print(authorized_sample.shape)
print(authorized_sample)

(492, 31)
            Time        V1        V2        V3        V4        V5        V6  \
98682    66765.0  1.223323  0.037143  0.945157  1.216077 -0.433085  0.374060
15719    27150.0 -1.247744  1.282230  2.620554  0.656748  0.033220  0.621875
100781   67621.0 -1.839969 -1.645368  3.034177 -1.355866 -0.386396  0.328136
117751   74795.0  1.133871  0.338611  0.819999  2.330151 -0.144588  0.228717
211265  138339.0  0.225861  0.392288  0.363948 -0.171285  0.755649 -0.312189
...          ...       ...       ...       ...       ...       ...       ...
248794  154098.0  1.903179 -0.749098 -0.514126  0.751773 -0.838005 -0.486899
99624    67203.0 -1.030501  1.629055  0.381975 -0.393330  0.689751  0.781836
51323    44892.0 -2.363250 -0.128127  0.861691 -1.394825 -1.774559  0.755608
204005  135070.0 -1.687347  1.616570  0.075496  0.995856  0.586685 -0.844932
139746   83329.0 -0.525264  0.934719  1.597625 -0.127425  0.120248 -0.614162

              V7        V8        V9  ...       V21       V22       V23  \
98682  -0.468169  0.088457  0.882942  ... -0.224532 -0.290041 -0.095621
15719   0.556034 -0.220255  0.505568  ... -0.129694  0.419045 -0.305111
100781 -1.416451  0.688075  0.190773  ...  0.244109  0.909248  0.233532
117751 -0.191951  0.038563 -0.460583  ... -0.101210 -0.409168 -0.045896
211265  0.317776 -0.174495  0.796479  ...  0.245666  1.081319 -0.221968
...          ...       ...       ...  ...       ...       ...       ...
248794 -0.450758 -0.209848 -0.437417  ... -0.246645 -0.203436  0.181173
99624  -0.207336 -2.185768 -0.076615  ...  1.957583 -1.627889  0.182144
51323  -1.292134  1.389081 -0.372105  ...  0.348366  1.009726 -0.495467
204005  0.897395  0.223621 -1.002965  ...  0.080673  0.341681 -0.365642
139746  0.587663  0.053844 -0.739398  ... -0.160148 -0.439164 -0.017267

             V24       V25       V26       V27       V28  Amount  Class
98682  -0.427301  0.594160 -0.407442  0.081271  0.028759    0.76      0
15719  -0.019724  0.123862 -0.305270  0.057087 -0.315476    8.00      0
100781  0.022012  0.525881 -0.151732 -0.010413  0.094964    2.00      0
117751 -0.480254  0.313766 -0.100996  0.012486  0.035898   46.02      0
211265 -0.838105 -0.595159 -0.172792  0.033996 -0.078845    5.09      0
...          ...       ...       ...       ...       ...     ...    ...
248794 -0.051910 -0.178871 -0.681466  0.061897 -0.013002   95.00      0
99624  -1.426668  0.005192  0.208097  0.369702  0.100947    8.92      0
51323  -0.200899  0.363390 -0.168159 -0.542421 -0.467239   89.92      0
204005  0.009715  1.142282 -0.233542 -0.696105 -0.348735    4.88      0
139746  0.325880 -0.198370  0.051807  0.261075  0.114173    5.57      0

[492 rows x 31 columns]

In [20]:
#Concatenating the two dataframes
new_dataset=pd.concat([authorized_sample,fraud],axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
98682,66765.0,1.223323,0.037143,0.945157,1.216077,-0.433085,0.374060,-0.468169,0.088457,0.882942,...,-0.224532,-0.290041,-0.095621,-0.427301,0.594160,-0.407442,0.081271,0.028759,0.76,0
15719,27150.0,-1.247744,1.282230,2.620554,0.656748,0.033220,0.621875,0.556034,-0.220255,0.505568,...,-0.129694,0.419045,-0.305111,-0.019724,0.123862,-0.305270,0.057087,-0.315476,8.00,0
100781,67621.0,-1.839969,-1.645368,3.034177,-1.355866,-0.386396,0.328136,-1.416451,0.688075,0.190773,...,0.244109,0.909248,0.233532,0.022012,0.525881,-0.151732,-0.010413,0.094964,2.00,0
117751,74795.0,1.133871,0.338611,0.819999,2.330151,-0.144588,0.228717,-0.191951,0.038563,-0.460583,...,-0.101210,-0.409168,-0.045896,-0.480254,0.313766,-0.100996,0.012486,0.035898,46.02,0
211265,138339.0,0.225861,0.392288,0.363948,-0.171285,0.755649,-0.312189,0.317776,-0.174495,0.796479,...,0.245666,1.081319,-0.221968,-0.838105,-0.595159,-0.172792,0.033996,-0.078845,5.09,0

In [21]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93701.221545,0.046131,0.122005,0.098470,0.073921,-0.029513,-0.085752,-0.005621,0.015747,0.059221,...,0.024262,-0.022569,-0.049666,-0.013196,-0.040858,0.020412,0.016231,0.016545,0.006421,73.329878
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']
print(X.shape)
print(Y.shape)

(984, 30)
(984,)

In [24]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [25]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [26]:
print(Y.shape,Y_train.shape,Y_test.shape)

(984,) (787,) (197,)

In [27]:
model=LogisticRegression()

In [28]:
#training the logistic Regression Model with Training data
model.fit(X_train,Y_train)

LogisticRegression()

In [29]:
#accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

print(training_data_accuracy)

0.9224904701397713

In [30]:
#accuracy on Testing data
X_test_prediction = model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

print(testing_data_accuracy)

0.9137055837563451